@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-VM4brZbAC5X_font-family: "Inter", sans-serif;
  --mixin-VM4brZbAC5X_font-size: 14px;
  --mixin-VM4brZbAC5X_font-weight: 400;
  --mixin-VM4brZbAC5X_font-style: normal;
  --mixin-VM4brZbAC5X_color: #535353;
  --mixin-VM4brZbAC5X_text-align: left;
  --mixin-VM4brZbAC5X_text-transform: none;
  --mixin-VM4brZbAC5X_line-height: 1.5;
  --mixin-VM4brZbAC5X_letter-spacing: normal;
  --mixin-VM4brZbAC5X_white-space: pre-wrap;
  --mixin-VM4brZbAC5X_user-select: text;
  --mixin-VM4brZbAC5X_text-decoration-line: none;
  --mixin-VM4brZbAC5X_text-overflow: clip;
  --mixin-ZhFwducrr8T_color: #000000;
  --mixin-ZhFwducrr8T_font-weight: 600;
  --mixin-ZhFwducrr8T_font-size: 40px;
  --mixin-ZhFwducrr8T_line-height: 1;
  --mixin-ZhFwducrr8T_letter-spacing: -1px;
  --mixin-ZhFwducrr8T_white-space: pre-wrap;
  --mixin-Ro-YjnGe3lP_color: #000000;
  --mixin-Ro-YjnGe3lP_font-size: 30px;
  --mixin-Ro-YjnGe3lP_font-weight: 600;
  --mixin-Ro-YjnGe3lP_line-height: 1.1;
  --mixin-Ro-YjnGe3lP_white-space: pre-wrap;
  --mixin-zun0QBu_Q4n_color: #0070f3;
  --mixin-zun0QBu_Q4n_white-space: pre-wrap;
  --mixin-Y18vEcQMWG3_color: #000000;
  --mixin-Y18vEcQMWG3_font-size: 24px;
  --mixin-Y18vEcQMWG3_font-weight: 600;
  --mixin-Y18vEcQMWG3_line-height: 1.2;
  --mixin-Y18vEcQMWG3_white-space: pre-wrap;
  --mixin-9yloUaVtHwu_color: #000000;
  --mixin-9yloUaVtHwu_font-size: 20px;
  --mixin-9yloUaVtHwu_font-weight: 600;
  --mixin-9yloUaVtHwu_line-height: 1.3;
  --mixin-9yloUaVtHwu_white-space: pre-wrap;
  --mixin-MceDZTSjRvb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MceDZTSjRvb_border-bottom-color: #dddddd;
  --mixin-MceDZTSjRvb_border-bottom-style: solid;
  --mixin-MceDZTSjRvb_border-bottom-width: 1px;
  --mixin-MceDZTSjRvb_border-left-color: #dddddd;
  --mixin-MceDZTSjRvb_border-left-style: solid;
  --mixin-MceDZTSjRvb_border-left-width: 1px;
  --mixin-MceDZTSjRvb_border-right-color: #dddddd;
  --mixin-MceDZTSjRvb_border-right-style: solid;
  --mixin-MceDZTSjRvb_border-right-width: 1px;
  --mixin-MceDZTSjRvb_border-top-color: #dddddd;
  --mixin-MceDZTSjRvb_border-top-style: solid;
  --mixin-MceDZTSjRvb_border-top-width: 1px;
  --mixin-MceDZTSjRvb_border-bottom-left-radius: 3px;
  --mixin-MceDZTSjRvb_border-bottom-right-radius: 3px;
  --mixin-MceDZTSjRvb_border-top-left-radius: 3px;
  --mixin-MceDZTSjRvb_border-top-right-radius: 3px;
  --mixin-MceDZTSjRvb_font-family: "Inconsolata";
  --mixin-MceDZTSjRvb_padding-bottom: 1px;
  --mixin-MceDZTSjRvb_padding-left: 4px;
  --mixin-MceDZTSjRvb_padding-right: 4px;
  --mixin-MceDZTSjRvb_padding-top: 1px;
  --mixin-MceDZTSjRvb_white-space: pre-wrap;
  --mixin-jTaKx6KEMI5_border-left-color: #dddddd;
  --mixin-jTaKx6KEMI5_border-left-style: solid;
  --mixin-jTaKx6KEMI5_border-left-width: 3px;
  --mixin-jTaKx6KEMI5_color: #888888;
  --mixin-jTaKx6KEMI5_padding-left: 10px;
  --mixin-jTaKx6KEMI5_white-space: pre-wrap;
  --mixin-XMGsxkhX_US_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XMGsxkhX_US_border-bottom-color: #dddddd;
  --mixin-XMGsxkhX_US_border-bottom-style: solid;
  --mixin-XMGsxkhX_US_border-bottom-width: 1px;
  --mixin-XMGsxkhX_US_border-left-color: #dddddd;
  --mixin-XMGsxkhX_US_border-left-style: solid;
  --mixin-XMGsxkhX_US_border-left-width: 1px;
  --mixin-XMGsxkhX_US_border-right-color: #dddddd;
  --mixin-XMGsxkhX_US_border-right-style: solid;
  --mixin-XMGsxkhX_US_border-right-width: 1px;
  --mixin-XMGsxkhX_US_border-top-color: #dddddd;
  --mixin-XMGsxkhX_US_border-top-style: solid;
  --mixin-XMGsxkhX_US_border-top-width: 1px;
  --mixin-XMGsxkhX_US_border-bottom-left-radius: 3px;
  --mixin-XMGsxkhX_US_border-bottom-right-radius: 3px;
  --mixin-XMGsxkhX_US_border-top-left-radius: 3px;
  --mixin-XMGsxkhX_US_border-top-right-radius: 3px;
  --mixin-XMGsxkhX_US_font-family: "Inconsolata";
  --mixin-XMGsxkhX_US_padding-bottom: 3px;
  --mixin-XMGsxkhX_US_padding-left: 6px;
  --mixin-XMGsxkhX_US_padding-right: 6px;
  --mixin-XMGsxkhX_US_padding-top: 3px;
  --mixin-XMGsxkhX_US_white-space: pre-wrap;
  --mixin-LEQUgS5Y43d_display: flex;
  --mixin-LEQUgS5Y43d_flex-direction: column;
  --mixin-LEQUgS5Y43d_align-items: stretch;
  --mixin-LEQUgS5Y43d_justify-content: flex-start;
  --mixin-LEQUgS5Y43d_list-style-position: outside;
  --mixin-LEQUgS5Y43d_padding-left: 40px;
  --mixin-LEQUgS5Y43d_position: relative;
  --mixin-LEQUgS5Y43d_list-style-type: disc;
  --mixin-LEQUgS5Y43d_white-space: pre-wrap;
  --mixin-aB_fjgSUerl_display: flex;
  --mixin-aB_fjgSUerl_flex-direction: column;
  --mixin-aB_fjgSUerl_align-items: stretch;
  --mixin-aB_fjgSUerl_justify-content: flex-start;
  --mixin-aB_fjgSUerl_list-style-position: outside;
  --mixin-aB_fjgSUerl_padding-left: 40px;
  --mixin-aB_fjgSUerl_position: relative;
  --mixin-aB_fjgSUerl_list-style-type: decimal;
  --mixin-aB_fjgSUerl_white-space: pre-wrap;
  --mixin-7a6B1jozfGH_color: #000000;
  --mixin-7a6B1jozfGH_font-size: 16px;
  --mixin-7a6B1jozfGH_font-weight: 600;
  --mixin-7a6B1jozfGH_line-height: 1.5;
  --mixin-7a6B1jozfGH_white-space: pre-wrap;
  --mixin-xDB61KNA_vb_color: #000000;
  --mixin-xDB61KNA_vb_font-size: 14px;
  --mixin-xDB61KNA_vb_font-weight: 600;
  --mixin-xDB61KNA_vb_line-height: 1.5;
  --mixin-xDB61KNA_vb_white-space: pre-wrap;
  --mixin-oMsCZnmEZl6_color: #3291ff;
  --mixin-oMsCZnmEZl6_white-space: pre-wrap;
  --mixin-LGToBsUg4pZ_white-space: pre-wrap;
  --mixin-HyDblh5jYm5_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-VM4brZbAC5X_font-family);
  font-size: var(--mixin-VM4brZbAC5X_font-size);
  font-weight: var(--mixin-VM4brZbAC5X_font-weight);
  font-style: var(--mixin-VM4brZbAC5X_font-style);
  color: var(--mixin-VM4brZbAC5X_color);
  text-align: var(--mixin-VM4brZbAC5X_text-align);
  text-transform: var(--mixin-VM4brZbAC5X_text-transform);
  line-height: var(--mixin-VM4brZbAC5X_line-height);
  letter-spacing: var(--mixin-VM4brZbAC5X_letter-spacing);
  white-space: var(--mixin-VM4brZbAC5X_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-ZhFwducrr8T_color);
  font-weight: var(--mixin-ZhFwducrr8T_font-weight);
  font-size: var(--mixin-ZhFwducrr8T_font-size);
  line-height: var(--mixin-ZhFwducrr8T_line-height);
  letter-spacing: var(--mixin-ZhFwducrr8T_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ro-YjnGe3lP_color);
  font-size: var(--mixin-Ro-YjnGe3lP_font-size);
  font-weight: var(--mixin-Ro-YjnGe3lP_font-weight);
  line-height: var(--mixin-Ro-YjnGe3lP_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-zun0QBu_Q4n_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Y18vEcQMWG3_color);
  font-size: var(--mixin-Y18vEcQMWG3_font-size);
  font-weight: var(--mixin-Y18vEcQMWG3_font-weight);
  line-height: var(--mixin-Y18vEcQMWG3_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-9yloUaVtHwu_color);
  font-size: var(--mixin-9yloUaVtHwu_font-size);
  font-weight: var(--mixin-9yloUaVtHwu_font-weight);
  line-height: var(--mixin-9yloUaVtHwu_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MceDZTSjRvb_font-family);
  border-radius: var(--mixin-MceDZTSjRvb_border-top-left-radius)
    var(--mixin-MceDZTSjRvb_border-top-right-radius)
    var(--mixin-MceDZTSjRvb_border-bottom-right-radius)
    var(--mixin-MceDZTSjRvb_border-bottom-left-radius);
  padding: var(--mixin-MceDZTSjRvb_padding-top)
    var(--mixin-MceDZTSjRvb_padding-right)
    var(--mixin-MceDZTSjRvb_padding-bottom)
    var(--mixin-MceDZTSjRvb_padding-left);
  border-top: var(--mixin-MceDZTSjRvb_border-top-width)
    var(--mixin-MceDZTSjRvb_border-top-style)
    var(--mixin-MceDZTSjRvb_border-top-color);
  border-right: var(--mixin-MceDZTSjRvb_border-right-width)
    var(--mixin-MceDZTSjRvb_border-right-style)
    var(--mixin-MceDZTSjRvb_border-right-color);
  border-bottom: var(--mixin-MceDZTSjRvb_border-bottom-width)
    var(--mixin-MceDZTSjRvb_border-bottom-style)
    var(--mixin-MceDZTSjRvb_border-bottom-color);
  border-left: var(--mixin-MceDZTSjRvb_border-left-width)
    var(--mixin-MceDZTSjRvb_border-left-style)
    var(--mixin-MceDZTSjRvb_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-jTaKx6KEMI5_color);
  padding-left: var(--mixin-jTaKx6KEMI5_padding-left);
  border-left: var(--mixin-jTaKx6KEMI5_border-left-width)
    var(--mixin-jTaKx6KEMI5_border-left-style)
    var(--mixin-jTaKx6KEMI5_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XMGsxkhX_US_font-family);
  border-radius: var(--mixin-XMGsxkhX_US_border-top-left-radius)
    var(--mixin-XMGsxkhX_US_border-top-right-radius)
    var(--mixin-XMGsxkhX_US_border-bottom-right-radius)
    var(--mixin-XMGsxkhX_US_border-bottom-left-radius);
  padding: var(--mixin-XMGsxkhX_US_padding-top)
    var(--mixin-XMGsxkhX_US_padding-right)
    var(--mixin-XMGsxkhX_US_padding-bottom)
    var(--mixin-XMGsxkhX_US_padding-left);
  border-top: var(--mixin-XMGsxkhX_US_border-top-width)
    var(--mixin-XMGsxkhX_US_border-top-style)
    var(--mixin-XMGsxkhX_US_border-top-color);
  border-right: var(--mixin-XMGsxkhX_US_border-right-width)
    var(--mixin-XMGsxkhX_US_border-right-style)
    var(--mixin-XMGsxkhX_US_border-right-color);
  border-bottom: var(--mixin-XMGsxkhX_US_border-bottom-width)
    var(--mixin-XMGsxkhX_US_border-bottom-style)
    var(--mixin-XMGsxkhX_US_border-bottom-color);
  border-left: var(--mixin-XMGsxkhX_US_border-left-width)
    var(--mixin-XMGsxkhX_US_border-left-style)
    var(--mixin-XMGsxkhX_US_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-LEQUgS5Y43d_display);
  flex-direction: var(--mixin-LEQUgS5Y43d_flex-direction);
  align-items: var(--mixin-LEQUgS5Y43d_align-items);
  justify-content: var(--mixin-LEQUgS5Y43d_justify-content);
  list-style-position: var(--mixin-LEQUgS5Y43d_list-style-position);
  padding-left: var(--mixin-LEQUgS5Y43d_padding-left);
  position: var(--mixin-LEQUgS5Y43d_position);
  list-style-type: var(--mixin-LEQUgS5Y43d_list-style-type);
  flex-column-gap: var(--mixin-LEQUgS5Y43d_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-aB_fjgSUerl_display);
  flex-direction: var(--mixin-aB_fjgSUerl_flex-direction);
  align-items: var(--mixin-aB_fjgSUerl_align-items);
  justify-content: var(--mixin-aB_fjgSUerl_justify-content);
  list-style-position: var(--mixin-aB_fjgSUerl_list-style-position);
  padding-left: var(--mixin-aB_fjgSUerl_padding-left);
  position: var(--mixin-aB_fjgSUerl_position);
  list-style-type: var(--mixin-aB_fjgSUerl_list-style-type);
  flex-column-gap: var(--mixin-aB_fjgSUerl_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-7a6B1jozfGH_color);
  font-size: var(--mixin-7a6B1jozfGH_font-size);
  font-weight: var(--mixin-7a6B1jozfGH_font-weight);
  line-height: var(--mixin-7a6B1jozfGH_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-xDB61KNA_vb_color);
  font-size: var(--mixin-xDB61KNA_vb_font-size);
  font-weight: var(--mixin-xDB61KNA_vb_font-weight);
  line-height: var(--mixin-xDB61KNA_vb_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-oMsCZnmEZl6_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
